/* app css stylesheet */
@import "bootstrap";
@import "../components/directives/ui/directives";
@import "../timeboard/timeboard";
@import "../vendor/spinners/stylesheets/spinners";

$footer-height: 10px;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;

  & > .container-fluid {
    padding-top: $navbar-height;
  }

  &.login-page {
    background: url('../images/login.jpeg') 50% 50% no-repeat;
    background-size: cover;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  line-height: $footer-height;
  background-color: #f5f5f5;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: $navbar-height + 1;
    bottom: $footer-height + 1;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  & > li {
    & > a {
      padding-right: 20px;
      padding-left: 20px;
    }

    &.active > a, &.active > a:hover, &.active > a:focus {
      color: #fff;
      background-color: #428bca;
    }
  }
}

/*
 * Main content
 */
.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main {
  .page-header {
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.table {
  .actions {
    text-align: right;
    width: 140px;
    white-space: nowrap;
  }

  .preset-preview {
    display: block;
    font-size: 13px;
    width: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle !important;
  }

  .deleted {
    color: #aaa;
    td {
      text-decoration: line-through;
    }

    .preset-preview {
      display: none;
    }

    code {
      color: #999;
      text-decoration: line-through;
    }
  }
}

.fa {
  &.text-muted {
    color: #bbb;
  }
}

.btn-link,
.btn-link:focus,
.btn-link:hover {
  text-decoration: none;
}

$date-picker-span-height: 44px;
[date-picker] [ng-switch-when=year] span,
[date-picker] [ng-switch-when=month] span {
  height: $date-picker-span-height;
  line-height: $date-picker-span-height;
}

[date-picker] .now,
[date-picker] .active {
  background-image: none;
}

/*
 * Login Form
 */
.login-form {
  width: 400px;
  margin: 10% auto 0;
  color: #fff;
}

/*
 * AngularJS
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.loader {
  @include spinner();
}
