<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{active: $state.includes('import.process')}">
                <a ui-sref=".process">Загрузка данных</a>
            </li>
            <li ng-class="{active: $state.includes('import.settings')}">
                <a ui-sref=".settings">Настройки</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view></div>
</div>
