<h1 class="page-header">
    Импорт данных
</h1>

<div class="status">
    <p class="text-center lead" ng-show="loading">
        <span class="loader"></span>
        Выполняется загрузка данных</p>
</div>

<div class="row">
    <div class="col-xs-12 col-md-11 col-lg-10">
        <div class="import-errors" ng-show="importErrors.length">
            <div class="clearfix">
                <h4 class="text-danger pull-left">Ошибки при выполнении запроса</h4>
                <button type="button" class="btn btn-link pull-right" ng-click="importErrors = []">Очистить</button>
            </div>
            <div class="panel panel-danger" ng-repeat="result in importErrors">
                <div class="panel-heading">{{result.message}}</div>
                <div class="panel-body" ng-show="result.info">
                    <button class="btn btn-link" type="button" ng-click="result.expanded = !result.expanded">
                        <span ng-show="!result.expanded">Развернуть</span>
                        <span ng-show="result.expanded">Свернуть</span>
                    </button>
                    <pre ng-show="result.expanded">{{result.info | json }}</pre>
                </div>
                <ul class="list-group" ng-show="result.errors.length">
                    <li class="list-group-item" ng-repeat="error in result.errors">{{error}}</li>
                </ul>
            </div>
        </div>

        <table class="table" ng-hide="loading">
            <thead>
                <tr>
                    <th>Файл</th>
                    <th>Компания</th>
                    <th>Период</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in models">
                    <td><span><code>{{model.fileName}}</code></span></td>
                    <td><span>{{model.companyName}}</span></td>
                    <td><span class="text-capitalize">{{model.period.format('MMMM YYYY')}}</span></td>
                    <td class="text-center" style="width: 60px;">
                        <button type="button" class="btn btn-link" ng-click="toggleImport(model)">
                            <i class="fa fa-square-o" ng-show="!model.import"></i>
                            <i class="fa fa-check-square" ng-show="model.import"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="clearfix" ng-hide="loading">
            <div class="pull-right">
                <span class="loader" ng-show="processing"></span>
                <button class="btn btn-default" ng-click="process('structure')" ng-disabled="processing" ng-show="enabled.length">
                    <i class="fa fa-sitemap"></i>
                    Импортировать Структуру</button>
                <button class="btn btn-default" ng-click="process('data')" ng-disabled="processing" ng-show="enabled.length">
                    <i class="fa fa-database"></i>
                    Импортировать Данные</button>
            </div>
        </div>
    </div>
</div>
