<h2 class="page-header">
    Компания-Проект
    <button class="btn btn-link" ng-click="add()">
        <span class="fa fa-plus"></span>
        Добавить</button>

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h2>

<div class="status">
    <p class="text-center lead" ng-show="loading">
        <span class="loader"></span>
        Выполняется загрузка данных</p>
</div>

<div class="row" ng-hide="loading">
    <div class="col-xs-12 col-md-11 col-lg-10">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 1%;">
                        <span class="text-muted">ID</span>
                    </th>
                    <th>Компания</th>
                    <th>Отдел</th>
                    <th style="width: 220px;">Проект</th>
                    <th style="width: 70px;" class="text-center">Префикс</th>
                    <th class="text-center">Импорт</th>
                    <th class="actions"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="model in storage.companies | filter:query" ng-class="{warning: model.isUnsaved()}" ng-dblclick="model.$edit = true">
                    <td>
                        <span class="text-muted">{{model.id}}</span>
                    </td>
                    <td>
                        <span ng-bind="model.name" ng-hide="model.$edit"></span>
                        <input class="form-control input-sm" type="text" ng-model="model.name" ng-show="model.$edit">
                    </td>
                    <td>
                        <span ng-bind="model.department" ng-hide="model.$edit"></span>
                        <input class="form-control input-sm" type="text" ng-model="model.department" ng-show="model.$edit">
                    </td>
                    <td style="width: 220px;">
                        <span ng-bind="getProjectById(model.project_id).name" ng-hide="model.$edit"></span>
                        <ui-select ng-model="model.project_id" style="width: 200px;" ng-show="model.$edit">
                            <ui-select-match placeholder="Выберите проект">{{$select.selected.abbreviation}}</ui-select-match>
                            <ui-select-choices repeat="project.id as project in storage.projects | orderBy:'name' | filter: $select.search">
                                <div ng-bind-html="project.abbreviation | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="text-center text-info">
                        <span ng-bind="model.prefix" ng-hide="model.$edit"></span>
                        <input class="form-control input-sm text-center" style="width: 50px;" type="text" ng-model="model.prefix" ng-show="model.$edit">
                    </td>
                    <td class="text-center">
                        <span class="fa fa-check-square" ng-show="model.import && !model.$edit"></span>
                        <button type="button" class="btn btn-link" ng-show="model.$edit" ng-click="model.import = !model.import">
                            <span class="fa fa-square-o" ng-show="!model.import"></span>
                            <span class="fa fa-check-square" ng-show="model.import"></span>
                        </button>
                    </td>

                    <td class="actions">
                        <button type="button" class="btn btn-link" ng-show="model.isUnsaved() && model.$edit" ng-click="model.save()" title="Сохранить изменения">
                            <span class="fa fa-save"></span>
                            <span class="sr-only">Сохранить изменения</span>
                        </button>
                        <button type="button" class="btn btn-link" ng-show="model.$edit && !model.isNew()" ng-click="model.restore(); model.$edit = false" title="Отменить изменения и выйти из режима редактирования">
                            <span class="fa fa-undo text-muted"></span>
                            <span class="sr-only">Отменить изменения и выйти из режима редактирования</span>
                        </button>
                        <button type="button" class="btn btn-link" ng-click="model.$edit = true" ng-hide="model.$edit" title="Редактировать">
                            <span class="fa fa-edit"></span>
                            <span class="sr-only">Редактировать</span>
                        </button>
                        <button type="button" class="btn btn-link" ng-click="delete(model)" title="Удалить" ng-hide="hideDelete">
                            <span class="fa fa-trash-o text-danger"></span>
                            <span class="sr-only">Удалить</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
