<h1 class="page-header">
    Проекты

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 1%;"><span class="text-muted">ID</span></th>
        <th>Аббревиатура</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Отделы</th>
        <th class="actions"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="model in storage.projects | filter:query | orderBy: ['-status','-type.id']"
        ng-class="{warning: model.isUnsaved(), deleted: model.isDeleted()}" ng-dblclick="model.$edit = true">
        <td><span class="text-muted">{{model.id}}</span></td>
        <td><span>{{model.abbreviation}}</span></td>
        <td><span>{{model.name}}</span></td>
        <td><span>{{model.type.name}}</span></td>
        <td>
            <ul class="list-inline project-departments" ng-hide="model.$edit">
                <li ng-repeat="dep in storage.departments | filter:{status:1} | orderBy:'name' | belongs:model.departmentIds" class="text-info"><code>{{dep.name}}</code></li>
            </ul>
            <ui-select multiple ng-model="model.departmentIds" sortable="true" close-on-select="false" style="max-width: 500px;" ng-show="model.$edit">
                <ui-select-match placeholder="Отделы">{{$item.name}}</ui-select-match>
                <ui-select-choices repeat="dep.id as dep in storage.departments | filter:{status:1} | filter: $select.search">
                    <div ng-bind-html="dep.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </td>
        <td class="actions" ng-init="hideDelete = true">
            <ng-include src="'company/common/actions.html'"></ng-include>
        </td>
    </tr>
    </tbody>
</table>
