<h1 class="page-header">
    <span ng-show="create">Принять сотрудника на работу</span>
    <span ng-show="!create">Обновить данные о трудоустройстве</span>
</h1>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-2 control-label">Сотрудник</div>
        <div class="col-xs-6">
            <ui-select ng-model="model.person_id" sortable="true">
                <ui-select-match placeholder="Выберите сотрудника">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="person.id as person in storage.persons | orderBy:'name' | filter: $select.search">
                    <div ng-bind-html="person.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">Проект</div>
        <div class="col-xs-6">
            <ui-select ng-model="model.project_id" sortable="true">
                <ui-select-match placeholder="Выберите проект">{{$select.selected.abbreviation}}</ui-select-match>
                <ui-select-choices repeat="project.id as project in storage.projects | orderBy:'name' | filter: $select.search">
                    <div ng-bind-html="project.abbreviation | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">Отдел</div>
        <div class="col-xs-6">
            <ui-select ng-model="model.department_id" sortable="true">
                <ui-select-match placeholder="Выберите отдел">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="department.id as department in storage.departments | orderBy:'name' | filter: $select.search | findBy:'projectIds':model.project_id">
                    <div ng-bind-html="department.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">Должность</div>
        <div class="col-xs-6">
            <ui-select ng-model="model.position_id" sortable="true">
                <ui-select-match placeholder="Выберите должность">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="position.id as position in storage.positions | orderBy:'name' | filter: $select.search">
                    <div ng-bind-html="position.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">График</div>
        <div class="col-xs-6">
            <select class="form-control" ng-model="model.type" ng-init="model.type='2'">
                <option value=1>Посменный</option>
                <option value=2>Почасовой</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">Ставка/Оклад</div>
        <div class="col-xs-6">
            <input type="text" ng-model="model.rate" placeholder="0.00" class="form-control input-sm">
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2 control-label">Дата начала работы</div>
        <div class="col-xs-6">
            <input ng-model="startDate" date-time date-change="startDateChanged" min-view="date" format="DD.MM.YYYY" class="form-control input-sm" type="text">
        </div>
    </div>
</div>
<hr>
<div class="col-xs-8 clearfix">
    <div class="pull-right">
        <button class="btn btn-default" type="button" ng-click="dismiss()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="save()"><span class="fa fa-save"></span> Сохранить</button>
    </div>
</div>
