<h1 class="page-header">
    Трудоустройства
    <a class="btn btn-link" ui-sref="^.create">
        <span class="fa fa-plus"></span>
        Добавить</a>

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h1>

<style>
    .rates-container {
        position: relative;
        display: inline-block;
    }

    .rates-dropdown {
        position: absolute;
        width: 260px;
        z-index: 1;
        font-size: 14px;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,.15);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background: #fff;
    }

    .dropdown-content {
        margin: 10px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th class="text-muted">ID</th>
            <th>Сотрудник</th>
            <th>Должность</th>
            <th>Проект</th>

            <th>Отдел</th>
            <th>График</th>
            <th>Оклад</th>
            <th>Дата выхода</th>

            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in storage.employments | filter: query | orderBy:['-status','-id']"
            ng-class="{warning: model.isUnsaved(), deleted: model.isDeleted()}">
            <td class="text-muted">
                <span ng-bind="model.id"></span>
            </td>
            <td>
                <span ng-bind="model.person.name"></span>
            </td>
            <td>
                <span ng-bind="model.position.name"></span>
            </td>

            <td>
                <span ng-bind="model.project.name"></span>
            </td>
            <td>
                <span ng-bind="model.department.name"></span>
            </td>

            <td>
                <span ng-bind="model.type.name"></span>
            </td>
            <td>
                <div class="rates-container">
                    <span style="border-bottom: 1px dashed #08c; cursor: pointer;" ng-click="showRateHistory($event, model)" title="Показать историю изменения">{{model.rates[0].value}}</span>
                    <div class="rates-dropdown" ng-show="hasRateHistory(model)">
                        <div class="dropdown-content">
                            <div class="row" ng-repeat="rate in model.rates">
                                <div class="col-xs-5">c
                                    {{timestampAsDate(rate.date)}}</div>
                                <div class="col-xs-1 text-center">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                                <div class="col-xs-5 text-right">{{rate.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <span>{{timestampAsDate(model.startDate)}}</span>
            </td>

            <td class="actions">
                <a ui-sref="company.employments.update({id: model.id})" class="btn btn-link" ng-hide="model.isDeleted()" title="Редактировать запись">
                    <i class="fa fa-edit text-info"></i>
                </a>
                <a ui-sref="company.employments.terminate({id: model.id})" class="btn btn-link" ng-hide="model.isDeleted()" title="Уволить сотрудника">
                    <i class="fa fa-user-times text-danger"></i>
                </a>
                <button type="button" class="btn btn-link" ng-show="model.isDeleted()" ng-click="" title="Восстановить запись">
                    <span class="fa fa-undo text-muted"></span>
                    <span class="sr-only">Восстановить запись</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
