<h2 class="page-header">
    Увольнение сотрудника
</h2>

<div class="form-horizontal">
    <div class="col-xs-10">
        <table class="table table-striped" ng-show="model.id">
            <tr>
                <th>Сотрудник</th>
                <td><span>{{model.person.name}}</span></td>
            </tr>
            <tr>
                <th>Проект</th>
                <td><span>{{model.project.name}}</span></td>
            </tr>
            <tr>
                <th>Отдел</th>
                <td><span>{{model.position.name}}</span></td>
            </tr>
            <tr>
                <th>Должность</th>
                <td><span>{{model.project.name}}</span></td>
            </tr>
            <tr>
                <th>График</th>
                <td><span>{{model.type.name}}</span></td>
            </tr>
            <tr>
                <th>Ставка/Оклад</th>
                <td><span>{{model.rates[0].value}}</span></td>
            </tr>
            <tr>
                <th>Дата начала работы</th>
                <td><span>{{timestampAsDate(model.startDate)}}</span></td>
            </tr>
            <tr>
                <th>Дата увольнения</th>
                <td><input ng-model="endDate" date-time date-change="endDateChanged" min-view="date" format="DD.MM.YYYY" class="form-control input-sm" type="text"></td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="col-xs-10 clearfix">
    <div class="pull-right">
        <button class="btn btn-default" type="button" ng-click="dismiss()">Отмена</button>
        <button class="btn btn-primary" type="button" ng-click="terminate()"><span class="fa fa-save"></span> Уволить</button>
    </div>
</div>
