
<h1 class="page-header">
    <span>Отчеты</span>
</h1>

<ul>
    <li><a ui-sref=".timesheet">Табель</a></li>
    <li><a ui-sref=".paysheet">Ведомость</a></li>
    <li><a ui-sref=".payroll">ФОТ</a></li>
</ul>
