
<h1 class="page-header">
    <span>ФОТ за
        <span class="text-capitalize">{{period.format(periodFormat)}}</span>
    </span>

    <span uib-dropdown>
        <button type="button" class="btn btn-link" uib-dropdown-toggle>
            <span class="fa fa-calendar"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
            <div date-picker ng-model="period" format="{{periodFormat}}" min-view="month" max-view="year"></div>
        </div>
    </span>

    <div class="pull-right">
        <!--  | filter:{status:1} | orderBy:'-type.id' -->
        <span class="project-selector"
            ng-dropdown-multiselect
            options="storage.projects"
            selected-model="project"
            extra-settings="projectSelector"
            translation-texts="{buttonDefaultText: 'Проект не выбран'}"></span>

        <a href="" class="btn btn-success" disabled>
            <i class="fa fa-file-excel-o"></i>
            Экспорт
        </a>
    </div>
</h1>

<div class="status">
    <p class="lead text-center" ng-hide="project.id || loading">Выберите проект для отображения отчета</p>
    <p class="text-center lead" ng-show="loading"><span class="loader"></span> Выполняется загрузка данных</p>
</div>

<style>
    .table td,
    .table th {
        padding: 0 !important;
    }

    .table thead th {
        text-align: center;
    }

    .table td > span,
    .table th > span {
        min-width: 80px;
        display: block;
        padding: 0 6px;
        line-height: 34px;
    }

    .number {
        text-align: right;
    }
</style>

<div class="table-responsive" ng-hide="loading">
    <table class="table table-bordered" style="width: auto;" ng-if="parentCol.name">
        <thead>
            <tr>
                <th class="active"><span>{{parentCol.name}}</span></th>
                <th><span class="text-center" style="text-transform: capitalize;">{{parentCol.periodName}}</span></th>
                <th ng-repeat="col in (sortedCols = cols | orderBy:name)">
                    <span class="text-center">{{col.name}}</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in rows">
                <td class="active"><span>{{row.name}}</span></td>
                <td><span class="number">{{row.id === 'charge' && parentCol[row.id] ? '-' : ''}}{{parentCol[row.id] ? (parentCol[row.id] | number:2) : ''}}</span></td>
                <td ng-repeat="col in sortedCols">
                    <span class="number">{{row.id === 'charge' && col[row.id] ? '-' : ''}}{{col[row.id] ? (col[row.id] | number:2) : ''}}</span>
                </td>
            </tr>
            <tr class="active">
                <th><span>Итого:</span></th>
                <th><span class="number">{{total(parentCol) ? (total(parentCol) | number:2) : ''}}</span></th>
                <th ng-repeat="col in sortedCols">
                    <span class="number" ng-class="{'text-muted': total(col) == 0}">{{total(col) ? (total(col) | number:2) : ''}}</span>
                </th>
            </tr>
        </tbody>
    </table>
</div>
