
<style>
    .table-report td {
        padding: 0 !important;
    }
    .table-report td span {
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        padding: 0 5px;
        line-height: 30px;
    }
    .table-report td .day-cell {
        text-align: center;
    }
    .table-report td .number {
        text-align: right;
    }
    .table-report td .date {
        width: 150px;
    }
    .table-report td .signature {
        width: 200px;
    }
</style>

<h1 class="page-header">
    <span>Ведомость за
        <span class="text-capitalize">{{period.format(periodFormat)}}</span>
    </span>
    <span uib-dropdown>
        <button type="button" class="btn btn-link" uib-dropdown-toggle>
            <span class="fa fa-calendar"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
            <div date-picker ng-model="period" format="{{periodFormat}}" min-view="month" max-view="year"></div>
        </div>
    </span>

    <div class="pull-right">
        <div class="dropdown inline" ng-class="{open: filterSelectorVisible}">
            <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggleFilterSelector($event)">
                <span class="fa fa-filter"></span>
                Добавить фильтр
            </button>

            <ul class="dropdown-menu">
                <li ng-repeat="item in filters | filter:{active:false}">
                    <a href="" ng-click="item.active = true">{{item.name}}</a>
                </li>
            </ul>
        </div>

        <a href="" class="btn btn-success" disabled>
            <i class="fa fa-file-excel-o"></i>
            Экспорт
        </a>
    </div>
</h1>

<div class="status">
    <p class="text-center lead" ng-show="loading"><span class="loader"></span> Выполняется загрузка данных</p>
</div>

<div class="filters" ng-hide="loading">
    <div class="filter" ng-repeat="item in filters | filter:{active:true}">
        <span class="filter-label">{{item.name}}</span>
        <div class="filter-multiselect" ng-dropdown-multiselect options="item.source" selected-model="item.value" extra-settings="item.options"></div>
        <button class="btn btn-link" ng-click="item.active = false; item.value = [];">
            <span class="fa fa-remove"></span>
        </button>
    </div>
</div>

<div class="table-responsive" ng-hide="loading">
    <table class="table table-striped table-bordered table-hover table-report" ng-show="models.length">
        <thead style="border-bottom: 4px solid #aaa">
            <tr>
                <th rowspan="2"><span>#</span></th>
                <th rowspan="2"><span>Сотрудник</span></th>
                <th rowspan="2"><span>Проект</span></th>
                <th rowspan="2"><span>Отдел</span></th>
                <th rowspan="2"><span>Должность</span></th>
                <th rowspan="2" class=""><span>Всего Начислено</span></th>
                <th rowspan="2" class=""><span>Выдано на&nbsp;карту аванс</span></th>
                <th rowspan="2" class=""><span>Выдано аванс</span></th>
                <th rowspan="2" class=""><span>Выдано на&nbsp;карту&nbsp;ЗП</span></th>
                <th rowspan="2" class=""><span>Остаток к&nbsp;выдачи</span></th>
                <th rowspan="2" class=""><span>Дата получения</span></th>
                <th rowspan="2" class=""><span>Подпись сотрудника</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="model in (filteredModels = (models | complex:filters))" end-repeat>
                <td>
                    <span>{{$index+1}}</span>
                </td>
                <td class="">
                    <span>{{model.get('$employment.person.name')}}</span>
                </td>
                <td class="">
                    <span>{{model.get('$employment.project.name')}}</span>
                </td>
                <td class="">
                    <span>{{model.get('$employment.department.name')}}</span>
                </td>
                <td class="">
                    <span>{{model.get('$employment.position.name')}}</span>
                </td>
                <td class="">
                    <span class="number">{{toNumber(model.get('$totalPayment'))}}</span>
                </td>
                <td>
                    <span class="number">{{toNumber(model.get('prepayment_card'))}}</span>
                </td>
                <td>
                    <span class="number">{{toNumber(model.get('prepayment'))}}</span>
                </td>
                <td>
                    <span class="number">{{toNumber(model.get('payment_card'))}}</span>
                </td>
                <td class="">
                    <span class="number">{{toNumber(model.get('$restPayment') < 0 ? 0 : model.get('$restPayment'))}}</span>
                </td>
                <td><span class="date">&nbsp;</span></td>
                <td><span class="signature">&nbsp;</spa></td>
            </tr>
            <tr>
                <td colspan="5"><span class="text-right"><strong>Итого:</strong></span></td>
                <td><span class="number">{{ toNumber(getTotal(filteredModels, '$totalPayment')) }}</span></td>
                <td><span class="number">{{ toNumber(getTotal(filteredModels, 'prepayment_card')) }}</span></td>
                <td><span class="number">{{ toNumber(getTotal(filteredModels, 'prepayment')) }}</span></td>
                <td><span class="number">{{ toNumber(getTotal(filteredModels, 'payment_card')) }}</span></td>
                <td><span class="number">{{ toNumber(getTotal(filteredModels, '$restPayment')) }}</span></td>
            </tr>
        </tbody>
    </table>
</div>
