<h1 class="page-header">
    <span>Начисления за
        <span class="text-capitalize">{{period.format(periodFormat)}}</span>
    </span>
    <span uib-dropdown>
        <button type="button" class="btn btn-link" uib-dropdown-toggle>
            <span class="fa fa-calendar"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
            <div date-picker ng-model="period" format="{{periodFormat}}" min-view="month" max-view="year"></div>
        </div>
    </span>


        <div class="pull-right">
            <a href="" class="btn btn-success" disabled>
                <i class="fa fa-file-excel-o"></i>
                Экспорт
            </a>
        </div>
</h1>

<div class="status">
    <p class="text-center lead" ng-show="loading"><span class="loader"></span> Выполняется загрузка данных</p>
</div>

<style>
    .table td,
    .table th {
        padding: 0 !important;
    }

    .table thead th {
        text-align: center;
    }

    .table td > span,
    .table th > span {
        min-width: 80px;
        display: block;
        padding: 0 6px;
        line-height: 34px;
    }

    .table td > input {
        color: #07A;
        display: block;
        font-weight: 500;
        line-height: 30px;
        min-width: 80px;
        padding: 0 6px;
    }

    .number {
        text-align: right;
    }
</style>

<table class="table table-bordered" style="width: auto;" ng-hide="loading">
    <thead>
        <tr>
            <th><span>Компания</span></th>
            <th><span>Проект</span></th>
            <th><span>Отдел</span></th>
            <th><span>Начислено</span></th>
            <th><span>К выплате</span></th>
            <th><span>Выдано</span></th>
            <th><span>Осталось</span></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat-start="m in models" style="border-top: 2px solid #999">
            <th rowspan="{{m.size}}"><span>{{m.name}}</span></th>
            <td rowspan="{{m.projects[0].size}}"><span>{{m.projects[0].name}}</span></td>
            <td><span>{{m.projects[0].departments[0].name}}</span></td>
            <td><span class="number">{{m.projects[0].departments[0].totalPayment ? (m.projects[0].departments[0].totalPayment | number:2) : ''}}</span></td>
            <td><span class="number">{{m.projects[0].departments[0].restPayment ? (m.projects[0].departments[0].restPayment | number:2) : ''}}</span></td>
            <td><input type="text" class="number" ng-model="m.projects[0].departments[0].alreadyGiven"></td>
            <td><span class="number">{{(m.projects[0].departments[0].restPayment - m.projects[0].departments[0].alreadyGiven) | number:2}}</span></td>
        </tr>
        <tr ng-repeat-start="project in m.projects" ng-hide="$first" style="border-top: 2px solid #999">
            <td rowspan="{{project.size}}"><span>{{project.name}}</span></td>
            <td><span>{{project.departments[0].name}}</span></td>
            <td><span class="number">{{project.departments[0].totalPayment ? (project.departments[0].totalPayment | number:2) : ''}}</span></td>
            <td><span class="number">{{project.departments[0].restPayment ? (project.departments[0].restPayment | number:2) : ''}}</span></td>
            <td><input type="text" class="number" ng-model="project.departments[0].alreadyGiven"></td>
            <td><span class="number">{{(project.departments[0].restPayment - project.departments[0].alreadyGiven) | number:2}}</span></td>
        </tr>
        <tr ng-repeat="dep in project.departments" ng-hide="$first">
            <td><span>{{dep.name}}</span></td>
            <td><span class="number">{{dep.totalPayment ? (dep.totalPayment | number:2) : ''}}</span></td>
            <td><span class="number">{{dep.restPayment ? (dep.restPayment | number:2) : ''}}</span></td>
            <td><input type="text" class="number" ng-model="dep.alreadyGiven"></td>
            <td><span class="number">{{(dep.restPayment - dep.alreadyGiven) | number:2}}</span></td>
        </tr>
        <tr ng-repeat-end ng-show="project.departments.length > 1">
            <th class="active"><span>Итого:</span></th>
            <td class="active">
                <span class="number">{{(project.totalPayment = total(project.departments, 'totalPayment')) | number:2}}</span>
            </td>
            <td class="active">
                <span class="number">{{(project.restPayment = total(project.departments, 'restPayment')) | number:2}}</span>
            </td>
            <td class="active">
                <span class="number">{{(project.alreadyGiven = total(project.departments, 'alreadyGiven')) | number:2}}</span></td>
            <td class="active">
                <span class="number">{{(total(project.departments, 'restPayment') - total(project.departments, 'alreadyGiven')) | number:2}}</span></td>
        </tr>
        <tr ng-show="m.projects.length > 1">
            <th class="active" colspan="2"><span>Итого по компании:</span></th>
            <td class="active"><span class="number">{{total(m.projects, 'totalPayment') | number:2}}</span></td>
            <td class="active"><span class="number">{{total(m.projects, 'restPayment') | number:2}}</span></td>
            <td class="active"><span class="number">{{total(m.projects, 'alreadyGiven') | number:2}}</span></td>
            <td class="active"><span class="number">{{(total(m.projects, 'restPayment') - total(m.projects, 'alreadyGiven')) | number:2}}</span></td>
        </tr>
        <tr ng-repeat-end></tr>
        <tr>
            <th colspan="3" class="active"><span class="text-right">Всего по холдингу:</span></th>
            <th class="active"><span class="number">{{total(projects, 'totalPayment') | number:2}}</span></th>
            <th class="active"><span class="number">{{total(projects, 'restPayment') | number:2}}</span></th>
            <th class="active"><span class="number">{{total(projects, 'alreadyGiven') | number:2}}</span></th>
            <th class="active"><span class="number">{{(total(projects, 'restPayment') - total(projects, 'alreadyGiven')) | number:2}}</span></th>
        </tr>
    </tbody>
</table>
