<style>
    .table-report td {
        padding: 0 !important;
    }
    .table-report td span {
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        padding: 0 5px;
        line-height: 30px;
    }
    .table-report td .day-cell {
        text-align: center;
    }
    .table-report td .number {
        text-align: right;
    }
</style>

<h1 class="page-header">
    <span>Табель за
        <span class="text-capitalize">{{period.format(periodFormat)}}</span>
    </span>
    <span uib-dropdown>
        <button type="button" class="btn btn-link" uib-dropdown-toggle>
            <span class="fa fa-calendar"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
            <div date-picker ng-model="period" format="{{periodFormat}}" min-view="month" max-view="year"></div>
        </div>
    </span>

    <div class="pull-right">
        <div class="dropdown inline" ng-class="{open: filterSelectorVisible}">
            <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggleFilterSelector($event)">
                <span class="fa fa-filter"></span>
                Добавить фильтр
            </button>

            <ul class="dropdown-menu">
                <li ng-repeat="item in filters | filter:{active:false}">
                    <a href="" ng-click="item.active = true">{{item.name}}</a>
                </li>
            </ul>
        </div>

        <a href="" class="btn btn-success" disabled>
            <i class="fa fa-file-excel-o"></i>
            Экспорт
        </a>
    </div>
</h1>

<div class="status">
    <p class="text-center lead" ng-show="loading"><span class="loader"></span> Выполняется загрузка данных</p>
</div>

<div class="filters" ng-hide="loading">
    <div class="filter" ng-repeat="item in filters | filter:{active:true}">
        <span class="filter-label">{{item.name}}</span>
        <div class="filter-multiselect" ng-dropdown-multiselect options="item.source" selected-model="item.value" extra-settings="item.options"></div>
        <button class="btn btn-link" ng-click="item.active = false; item.value = [];">
            <span class="fa fa-remove"></span>
        </button>
    </div>
</div>

<div class="table-responsive" ng-hide="loading">
    <table class="table table-striped table-bordered table-hover table-report" ng-show="models.length">
        <thead style="border-bottom: 4px solid #aaa">
            <tr>
                <th rowspan="2"><span>#</span></th>
                <th rowspan="2"><span>Сотрудник</span></th>
                <th rowspan="2"><span>Проект</span></th>
                <th rowspan="2"><span>Отдел</span></th>
                <th rowspan="2"><span>Должность</span></th>
                <th rowspan="2"><span>График</span></th>
                <th ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="day-cell">
                    <span>{{day.number}}</span>
                </th>
                <th colspan="2"><span class="x4">Часы/Смены</span></th>
            </tr>
            <tr>
                <th ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="day-cell"><span>{{day.weekDay}}</span></th>
                <th><span class="x2">Норма</span></th>
                <th><span class="x2">Отр.</span></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="model in (filteredModels = (models | complex:filters))" end-repeat>
                <td>
                    <span>{{$index+1}}</span>
                </td>
                <td class="active">
                    <span>{{model.get('$employment.person.name')}}</span>
                </td>
                <td class="active">
                    <span>{{model.get('$employment.project.name')}}</span>
                </td>
                <td class="active">
                    <span>{{model.get('$employment.department.name')}}</span>
                </td>
                <td class="active">
                    <span>{{model.get('$employment.position.name')}}</span>
                </td>
                <td class="active">
                    <span>{{model.get('$employment.type.name')}}</span>
                </td>
                <td ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="day-cell">
                    <span class="day-cell">{{model.get('day_' + day.number)}}</span>
                </td>
                <td>
                    <span class="number">{{model.get('norm') | number}}</span>
                </td>
                <td class="active">
                    <span class="number">{{model.get('$totalWorkTime') | number}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
