<button type="button" class="btn btn-link" ng-show="model.isUnsaved() && model.$edit" ng-click="model.save()" title="Сохранить изменения">
    <span class="fa fa-save"></span>
    <span class="sr-only">Сохранить изменения</span>
</button>
<button type="button" class="btn btn-link" ng-show="model.$edit && !model.isNew()" ng-click="model.restore(); model.$edit = false" title="Отменить изменения и выйти из режима редактирования">
    <span class="fa fa-undo text-muted"></span>
    <span class="sr-only">Отменить изменения и выйти из режима редактирования</span>
</button>
<button type="button" class="btn btn-link" ng-click="model.$edit = true" ng-hide="model.$edit || model.isDeleted()" title="Редактировать">
    <span class="fa fa-edit"></span>
    <span class="sr-only">Редактировать</span>
</button>
<button type="button" class="btn btn-link" ng-click="delete(model)" title="Удалить/Деактивировать" ng-hide="hideDelete || model.isDeleted()">
    <span class="fa fa-trash-o text-danger"></span>
    <span class="sr-only">Удалить/Деактивировать</span>
</button>
<button type="button" class="btn btn-link" ng-show="model.isDeleted()" ng-click="restore(model)" title="Восстановить запись">
    <span class="fa fa-undo text-muted"></span>
    <span class="sr-only">Восстановить запись</span>
</button>
