<!DOCTYPE html>
<html lang="en" ng-app="crm" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TimeBoard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" href="vendor/angular-bootstrap-colorpicker/css/colorpicker.min.css">
    <link rel="stylesheet" href="vendor/angular-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="vendor/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-class="{'login-page': !user.auth}">

<nav class="navbar navbar-inverse navbar-fixed-top" ng-show="user.auth" ng-cloak>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/">CRM</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $state.includes('timeboard')}">
                    <a ui-sref="timeboard"><span class="fa fa-table"></span> Табели</a>
                </li>
                <li ng-class="{active: $state.includes('reports')}" uib-dropdown>
                    <a href="#" uib-dropdown-toggle>
                        <span class="fa fa-bar-chart"></span> Отчеты <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li><a ui-sref="reports.timesheet">Табель</a></li>
                        <li><a ui-sref="reports.paysheet">Ведомость</a></li>
                        <li><a ui-sref="reports.payroll">ФОТ</a></li>
                        <li><a ui-sref="reports.salary">Начисления выплаты ЗП</a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('company'), disabled: !user.can(['ADMIN', 'HR'])}">
                    <a ui-sref="company.employments.list" ng-show="user.can(['ADMIN', 'HR'])"><span class="fa fa-sitemap"></span> Компания</a>
                    <a disabled ng-show="!user.can(['ADMIN', 'HR'])"><span class="fa fa-sitemap"></span> Компания</a>
                </li>
                <li ng-class="{active: $state.includes('import'), disabled: !user.can('ADMIN')}">
                    <a ui-sref="import.process" ng-show="user.can('ADMIN')"><span class="fa fa-cog"></span> Импорт данных</a>
                    <a disabled ng-show="!user.can('ADMIN')"><span class="fa fa-cog"></span> Импорт данных</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a title="{{user.name}}"><span>{{user.fullName}} ({{user.role.name}})</span></a></li>
                <li><a href ng-click="user.logout()"><span class="fa fa-sign-out"></span> Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ui-view>
    <!--[if lt IE 9]>
    <p class="browsehappy text-center">You are using an <strong>outdated</strong> browser.
        Please <a target="_blank" href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
</div>

<footer class="footer" ng-show="user.auth" ng-cloak>
    <div class="container-fluid"></div>
</footer>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/lodash/dist/lodash.min.js"></script>
<script src="vendor/moment/min/moment-with-locales.min.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="vendor/angular-resource/angular-resource.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-ui-select/dist/select.min.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
<script src="vendor/angular-datepicker/dist/angular-datepicker.min.js"></script>
<script src="angular-locale_ru-ru.js"></script>

<script src="components/dialog.js"></script>
<script src="components/directives/dropdown-multiselect.js"></script>
<script src="components/directives/ui/directives.js"></script>

<script src="app.js"></script>
<script src="user/user.js"></script>
<script src="timeboard/timeboard.js"></script>
<script src="reports/reports.js"></script>
<script src="company/company.js"></script>
<script src="import/import.js"></script>

</body>
</html>
