<h1 class="page-header">
    Отделы
    <button class="btn btn-link" ng-click="add()">
        <span class="fa fa-plus"></span>
        Добавить</button>

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h1>

<table class="table">
    <thead>
        <tr>
            <th style="width: 1%;">
                <span class="text-muted">ID</span>
            </th>
            <th style="width: 26%;">Название</th>
            <th>Проекты</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in storage.departments | filter:query | orderBy:['-status', '-id']"
            ng-class="{warning: model.isUnsaved(), deleted: model.isDeleted()}" ng-dblclick="model.$edit = true">
            <td>
                <span class="text-muted">{{model.id}}</span>
            </td>
            <td>
                <span ng-bind="model.name" ng-hide="model.$edit"></span>
                <input class="form-control input-sm" type="text" ng-model="model.name" ng-show="model.$edit">
            </td>
            <td>
                <ul class="list-inline project-departments" ng-hide="model.$edit">
                    <li ng-repeat="pr in storage.projects | filter:{status:1} | orderBy:'name' | belongs:model.projectIds" class="text-info">
                        <code>{{pr.name}}</code>
                    </li>
                </ul>
                <ui-select multiple ng-model="model.projectIds" sortable="true" close-on-select="false" style="max-width: 500px;" ng-show="model.$edit">
                    <ui-select-match placeholder="Выберите проекты">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="project.id as project in storage.projects | filter:{status:1} | filter: $select.search">
                        <div ng-bind-html="project.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </td>

            <td class="actions">
                <ng-include src="'company/common/actions.html'"></ng-include>
            </td>
        </tr>
    </tbody>
</table>
