<h1 class="page-header">
    Сотрудники
    <button class="btn btn-link" ng-click="add()">
        <span class="fa fa-plus"></span>
        Добавить</button>

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 1%;">
                <span class="text-muted">ID</span>
            </th>
            <th style="width: 30%;">Фамилия</th>
            <th style="width: 30%;">Имя</th>
            <th style="width: 30%;">Отчество</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in storage.persons | filter: query | orderBy:['-status', 'first_name', 'second_name']"
            ng-class="{warning: model.isUnsaved(), deleted: model.isDeleted()}" ng-dblclick="model.$edit = true">
            <td>
                <span class="text-muted">{{model.id}}</span>
            </td>
            <td>
                <span ng-bind="model.second_name" ng-hide="model.$edit"></span>
                <input class="form-control input-sm" type="text" ng-model="model.second_name" ng-show="model.$edit">
            </td>
            <td>
                <span ng-bind="model.first_name" ng-hide="model.$edit"></span>
                <input class="form-control input-sm" type="text" ng-model="model.first_name" ng-show="model.$edit">
            </td>
            <td>
                <span ng-bind="model.third_name" ng-hide="model.$edit"></span>
                <input class="form-control input-sm" type="text" ng-model="model.third_name" ng-show="model.$edit">
            </td>

            <td class="actions">
                <ng-include src="'company/common/actions.html'"></ng-include>
            </td>
        </tr>
    </tbody>
</table>
