<h1 class="page-header">
    Пресеты смен
    <button class="btn btn-link" ng-click="add()">
        <span class="fa fa-plus"></span>
        Добавить</button>

    <div class="pull-right">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
        </div>
    </div>
</h1>

<table class="table">
    <thead>
        <tr>
            <th style="width: 1%; text-align: center">
                <span class="fa fa-picture-o text-muted"></span>
            </th>
            <th style="width: 20%">Название</th>
            <th style="width: 20%">Код</th>
            <th style="width: 20%">
                <span class="fa fa-eyedropper text-muted"></span>
                Цвет текста</th>
            <th style="width: 20%">
                <span class="fa fa-eyedropper text-muted"></span>
                Цвет фона</th>
            <th class="actions"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="model in storage.presets | filter:query | orderBy:['-status','-id']"
            ng-class="{warning: model.isUnsaved(), deleted: model.isDeleted()}" ng-dblclick="model.$edit = true">
            <td>
                <span class="preset-preview" style="color: {{model.color||'black'}}; background-color: {{model.bg_color || 'white'}}">{{ model.code }}</span>
            </td>
            <td>
                <span ng-bind="model.name" ng-hide="model.$edit"></span>
                <input type="text" class="form-control input-sm" ng-model="model.name" ng-show="model.$edit">
            </td>
            <td>
                <span ng-bind="model.code" ng-hide="model.$edit"></span>
                <input type="text" class="form-control input-sm" ng-model="model.code" ng-show="model.$edit">
            </td>
            <td>
                <span ng-bind="model.color" ng-hide="model.$edit"></span>
                <input colorpicker type="text" class="form-control input-sm" ng-model="model.color" ng-show="model.$edit">
            </td>
            <td>
                <span ng-bind="model.bg_color" ng-hide="model.$edit"></span>
                <input colorpicker type="text" class="form-control input-sm" ng-model="model.bg_color" ng-show="model.$edit">
            </td>
            <td class="actions">
                <ng-include src="'company/common/actions.html'"></ng-include>
            </td>
        </tr>
    </tbody>
</table>
