.table-cell {
  overflow: visible;
  position: relative;

  .cell-label {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
  }

  .cell-input {
    background: #fff;
    border: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0;
    margin: 0;

    &:focus {
      opacity: 1;
      outline: 0;
      box-shadow: inset 0 0 2px 2px #08c;
    }
  }

  &.number {
    .cell-label,
    .cell-input {
      text-align: right;
    }
  }
}

.presets-selector {
  position: absolute;
  background: #fff;
  z-index: 2;
  width: auto;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  text-align: left;

  .list-unstyled {
    margin: 0 4px 0 0;
  }

  .preset {
    height: 32px;
    line-height: 32px;
    margin: 2px;
    white-space: nowrap;
  }

  .preview {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
  }
}
