<div class="presets-selector hidden">
    <ul class="list-unstyled">
        <li ng-repeat="preset in presets" ng-click="select(preset)" class="preset">
            <span class="preview" ng-style="getPresetStyle(preset)">{{preset.code}}</span>
            {{preset.name}}
        </li>
    </ul>
</div>
