<h2 class="page-header text-capitalize">
    <span uib-dropdown auto-close="outsideClick">
        <button type="button" class="btn btn-link btn-lg text-capitalize" uib-dropdown-toggle>
            <span>{{period.format(periodFormat)}}</span>
            <span class="fa fa-calendar"></span>
        </button>
        <div class="dropdown-menu" uib-dropdown-menu>
            <div date-picker ng-model="period" format="{{periodFormat}}" min-view="month" max-view="month"></div>
        </div>
    </span>

    <div class="pull-right">
        <span uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
                <span class="fa fa-filter"></span> Добавить фильтр
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu>
                <li ng-repeat="item in filters | filter:{active:false}">
                    <a href="" ng-click="item.active = true">{{item.name}}</a>
                </li>
            </ul>
        </span>
    </div>
</h2>

<div class="filters" ng-hide="loading">
    <div class="filter" ng-repeat="item in filters | filter:{active:true}">
        <span class="filter-label">{{item.name}}</span>
        <div class="filter-multiselect"
        ng-dropdown-multiselect
        options="item.source"
        selected-model="item.value"
        extra-settings="item.options"
        events="item.events"></div>
        <button class="btn btn-link" ng-click="resetFilter(item)"><span class="fa fa-remove"></span></button>
    </div>
</div>

<pre class="hidden">
    <code>
        // TODO
        4. Prepayment Import value if empty `prepayment_card`
        5. Navigation improvements
        6. Titles for long text (name, position, etc.)
        7. Input styling (focus, disabled state)
        8. Total day (% of project's day income)
        9. Scrollbar for whole timeboard
    </code>
</pre>

<div timeboard ng-hide="loading || models.length < 1">
    <div class="timeboard-header">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="day-cell">
                        <span class="x1">{{day.number}}</span>
                    </th>
                    <th colspan="2" class="active">
                        <span class="x4">Часы/Смены</span>
                    </th>

                    <th rowspan="2" class="active" ng-show="user.can(['HR'])">
                        <span class="x2">Ставка</span>
                    </th>

                    <th rowspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x3">з/п за<br>отработанное<br>время</span>
                    </th>
                    <th rowspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Процент</span>
                    </th>

                    <th colspan="5" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span>Доп. Начисления</span>
                    </th>
                    <th colspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span>Удержано</span>
                    </th>
                    <th rowspan="2" class="active" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Всего<br />Начислено</span>
                    </th>
                    <th rowspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Выдано<br />на&nbsp;карту<br />аванс</span>
                    </th>
                    <th rowspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Выдано<br />аванс</span>
                    </th>
                    <th rowspan="2" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Выдано<br />на&nbsp;карту<br />ЗП</span>
                    </th>
                    <th rowspan="2" class="active" ng-show="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">Остаток<br />к&nbsp;выдачи</span>
                    </th>
                </tr>
                <tr>
                    <th ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="day-cell">
                        <span class="x1">{{day.weekDay}}</span>
                    </th>
                    <th><span class="x2">Норма</span></th>
                    <th class="active"><span class="x2">Отр.</span></th>

                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x2">Питание</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x2">Больничные</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x2">Отпуска</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x2">Премии</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x3">Комментарий</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x2">сумма/руб.</span></th>
                    <th ng-show="user.can(['ADMIN', 'ACCOUNTANT'])"><span class="x3">Комментарий</span></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="timeboard-sidebar">
        <div class="header">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <span class="x1">&nbsp;</span>
                            <span class="x1">&nbsp;</span>
                        </th>
                        <th>
                            <span class="x5">&nbsp;</span>
                            <span class="x5">Сотрудник</span>
                        </th>
                        <th>
                            <span class="x3">&nbsp;</span>
                            <span class="x3">Проект</span>
                        </th>
                        <th>
                            <span class="x3">&nbsp;</span>
                            <span class="x3">Отдел</span>
                        </th>
                        <th>
                            <span class="x3">&nbsp;</span>
                            <span class="x3">Должность</span>
                        </th>
                        <th>
                            <span class="x2">&nbsp;</span>
                            <span class="x2">График</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="content">
            <table class="table table-bordered">
                <tbody>
                    <tr ng-repeat="model in models" ng-init="$row = $index; $cell = 5" end-repeat>
                        <td ng-class="{danger: model.$origin.isUnsaved()}">
                            <span class="x1">{{$index+1}}</span>
                        </td>
                        <td>
                            <span class="x5">{{model.$employment.person.name}}</span>
                        </td>
                        <td>
                            <span class="x3">{{model.$employment.project.name}}</span>
                        </td>
                        <td>
                            <span class="x3">{{model.$employment.department.name}}</span>
                        </td>
                        <td>
                            <span class="x3"><small>{{model.$employment.position.name}}</small></span>
                        </td>
                        <td>
                            <span class="x2"><small>{{model.$employment.type.name}}</small></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="timeboard-content">
        <table class="table table-bordered">
            <tbody>
                <tr ng-repeat="model in models" ng-init="$row = $index; $cell = 5" end-repeat>
                    <td ng-repeat="day in days" ng-class="{warning: day.weekEnd}" class="worktime">
                        <input class="x1" type="text"
                            ng-model="model.ngModel('day_' + day.number)"
                            ng-model-options="{ getterSetter: true, debounce: 500 }"
                            ng-if="day.editable" />
                        <span class="x1" ng-style="getPresetStyle(model.get('day_' + day.number))">
                            {{worktime(model.get('day_' + day.number))}}
                        </span>
                    </td>
                    <td class="worktime">
                        <input class="x2" type="text"
                            ng-model="model.ngModel('norm')"
                            ng-model-options="{ getterSetter: true, debounce: 500 }"
                            ng-if="user.can(['HR'])">
                        <span class="x2">{{worktime(model.get('norm'))}}</span>
                    </td>
                    <td class="active worktime">
                        <span class="x2" title="{{model.get('$employment.type.name')}}">{{worktime(model.get('$totalWorkTime'))}}</span>
                    </td>
                    <td class="active decimal" ng-if="user.can(['HR'])">
                        <span class="x2">{{decimal(model.$employment.rate)}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x3" type="text" ng-model="model.ngModel('corrected_total')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x3">{{decimal(model.get('$totalSalary'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('fee')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('fee'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('food')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('food'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('sick')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('sick'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('vacation')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('vacation'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('reward')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('reward'))}}</span>
                    </td>
                    <td ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x3" type="text" ng-model="model.ngModel('payment_comment')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x3">{{model.get('payment_comment')}}</span>
                    </td>

                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('charge')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('charge'))}}</span>
                    </td>
                    <td ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x3" type="text" ng-model="model.ngModel('charge_comment')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x3">{{model.get('charge_comment')}}</span>
                    </td>

                    <td class="active decimal" ng-class="{danger: model.get('$totalPayment') < 0}" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">{{decimal(model.get('$totalPayment'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <!-- emptyValue="prepaymentImport" -->
                        <input class="x2" type="text" ng-model="model.ngModel('prepayment_card')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('$prepaymentCard'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('prepayment')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('prepayment'))}}</span>
                    </td>
                    <td class="decimal" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <input class="x2" type="text" ng-model="model.ngModel('payment_card')" ng-model-options="{ getterSetter: true, debounce: 500 }">
                        <span class="x2">{{decimal(model.get('payment_card'))}}</span>
                    </td>
                    <td class="active decimal" ng-class="{danger: model.get('$restPayment') < 0}" ng-if="user.can(['ADMIN', 'ACCOUNTANT'])">
                        <span class="x2">{{decimal(model.get('$restPayment'))}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    <div presets-selector presets="storage.presets"></div>
    </div>
</div>

<div class="status">
    <p class="text-center lead" ng-show="loading"><span class="loader"></span> Выполняется загрузка данных</p>
</div>
