.dropdown {
  &.inline {
    display: inline-block;
  }

  .dropdown-menu {
    min-width: 200px;
  }
}

.filters {
  margin-bottom: 20px;

  .filter {
    display: inline-block;
    margin-right: 50px;

    .filter-multiselect {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.timeboard {
  $span-size: 40px;
  position: relative;
  overflow: hidden;

  span,
  input {
    display: block;
    line-height: $span-size / 2;
    white-space: nowrap;
    overflow: hidden;
    padding: 6px 4px;
    border: 0;
    margin: 0;
    height: $span-size / 2 + 12;

    &.x1 {
      width: $span-size;
    }

    &.x2 {
      width: $span-size * 2;
    }

    &.x3 {
      width: $span-size * 3;
    }

    &.x4 {
      width: $span-size * 4;
    }

    &.x5 {
      width: $span-size * 5;
    }

    &.x6 {
      width: $span-size * 6;
    }
  }

  .timeboard-header {
    background: #fff;
    position: absolute;
    top: 0;
    height: 80px;
    left: 0;
    right: 0;
    z-index: 2;

    th {
      height: 40px;
    }

    th[rowspan] {
      height: 80px;

      span {
        height: 80px;
      }
    }
  }

  .timeboard-sidebar {
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    float: left;

    .header {
      position: relative;
      height: 80px;
      background: #fff;
      z-index: 2;

      th {
        height: 80px;
      }
    }

    .content {
      position: absolute;
      top: 82px;
      bottom: 0;
      width: 100%;
      z-index: 1;
    }
  }

  .timeboard-content {
    position: absolute;
    top: 82px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    z-index: 1;
  }

  .table {
    margin: 0;

    thead {
      tr {
        th {
          padding: 0;
          white-space: nowrap;
          font-size: 12px;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 0;
          white-space: nowrap;

          input {
            display: none;
          }

          &.focus {
            outline: 2px solid #0088cc;

            input {
              display: block;
            }

            input + span {
              display: none;
            }
          }
        }
      }
    }
  }
}

.worktime {
  span,
  input {
    text-align: center;
  }
}

.decimal {
  span,
  input {
    text-align: right;
  }
}
