<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li ng-class="{active: $state.includes('company.employments')}" ng-show="user.can(['ADMIN', 'HR'])">
                <a ui-sref=".employments.list">Трудоустройства</a>
            </li>
            <li ng-class="{active: $state.includes('company.persons')}" ng-show="user.can(['ADMIN', 'HR'])">
                <a ui-sref=".persons">Сотрудники</a>
            </li>
            <li ng-class="{active: $state.includes('company.projects')}" ng-show="user.can(['ADMIN'])">
                <a ui-sref=".projects">Проекты</a>
            </li>
            <li ng-class="{active: $state.includes('company.departments')}" ng-show="user.can(['ADMIN'])">
                <a ui-sref=".departments">Отделы</a>
            </li>
            <li ng-class="{active: $state.includes('company.positions')}" ng-show="user.can(['ADMIN'])">
                <a ui-sref=".positions">Должности</a>
            </li>
            <li ng-class="{active: $state.includes('company.presets')}" ng-show="user.can(['ADMIN'])">
                <a ui-sref=".presets">Пресеты смен</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view></div>
</div>
