<div class="login-form">
    <h3 class="text-center"><span class="fa fa-large fa-sign-in"></span> Вход в систему</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="loginForm" ng-submit="submit()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                        <input type="text"
                               name="username"
                               required
                               class="form-control"
                               placeholder="Логин"
                               ng-model="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        <input type="password"
                               name="password"
                               required
                               class="form-control"
                               placeholder="Пароль"
                               ng-model="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block text-center" ng-disabled="!loginForm.$valid">Войти</button>
                <div style="margin-top: 10px;" ng-if="errorMsg">
                    <span class="label label-danger">{{errorMsg}}</span>
                </div>
            </form>
        </div>
    </div>
</div>
